<!DOCTYPE html>
<html>
	<head>
		<title>Staff Shifts Details</title>
		<script src="jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="jquery.dataTables.min.js"></script>
		<script src="angular-datatables.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="datatables.bootstrap.css">
		
	</head>
	<body ng-app="crudApp" ng-controller="crudController">
		
		<div class="container" ng-init="fetchData()">
			<br />
				<h3 align="center">Staff Shifts Details</h3>
			<br />
			<div class="alert alert-success alert-dismissible" ng-show="success" >
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{successMessage}}
			</div>
			<div align="right">
				<button type="button" name="add_button" ng-click="addData()" class="btn btn-success">Add</button>
			</div>
			<br />
			<div class="table-responsive" style="overflow-x: unset;">
				<table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Staff ID</th>
							<th>Name</th>
							<th>Job Title</th>
							<th>Email</th>
							<th>Phone number</th>
							<th>Schedule</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="name in namesData">
							<td>{{name.id}}</td>
							<td>{{name.name}}</td>
							<td>{{name.job}}</td>
							<td>{{name.email}}</td>
							<td>{{name.phone}}</td>
							<td>{{name.schedule}}</td>
							<td><button type="button" ng-click="fetchSingleData(name.id)" class="btn btn-warning btn-xs">Edit</button></td>
							<td><button type="button" ng-click="deleteData(name.id)" class="btn btn-danger btn-xs">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" id="crudmodal">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<form method="post" ng-submit="submitForm()">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Add Shifts Form</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="alert alert-danger alert-dismissible" ng-show="error" >
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{errorMessage}}
					</div>
					<div class="form-group">
						<label>Staff ID</label>
						<input type="number" name="id" ng-model="id" class="form-control" min="0" max="999" step="1" id="id" />
					  </div>					  
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="name" ng-model="name" class="form-control" id="name" />
					</div>
					<div class="form-group">
						<label>Job Title</label>
						<select name="job" ng-model="job" class="form-control" id="job">
						  <option value="">-- Select Job Type --</option>
						  <option value="Doctor">Doctor</option>
						  <option value="Nurse">Nurse</option>
						  <option value="Labour">Labour</option>
						</select>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" name="email" ng-model="email" class="form-control" id="email"/>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input type="tel" name="phone" ng-model="phone" class="form-control" pattern="[0-9]{10}" id="phone" required />
						<small>Please enter a 10-digit phone number without any spaces or special characters.</small>
					</div>								
					<div class="form-group">
						<label>Schedule</label>
						<select name="schedule" ng-model="schedule" class="form-control" id="schedule" required>
							<option value="">-- Select Shift --</option>
							<option value="06:00 A.M. - 12.00 P.M.">06:00 A.M. - 12.00 P.M.</option>
							<option value="12:00 P.M. - 06.00 P.M.">12:00 P.M. - 06.00 P.M.</option>
							<option value="06:00 P.M. - 12.00 A.M.">06:00 P.M. - 12.00 A.M.</option>
							<option value="12:00 A.M. - 06.00 A.M.">12:00 A.M. - 06.00 A.M.</option>
						  </select>
					</div>
	      		</div>
	      		<div class="modal-footer">
	      			<input type="hidden" name="hidden_id" value="{{hidden_id}}" />
	      			<input type="submit" name="submit" id="submit" class="btn btn-info" value="{{submit_button}}" />
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	</div>
	        </form>
    	</div>
  	</div>
</div>


<script>

var app = angular.module('crudApp', ['datatables']);
app.controller('crudController', function($scope, $http){

	$scope.success = false;

	$scope.error = false;

	$scope.fetchData = function(){
		$http.get('fetch_data.php').success(function(data){
			$scope.namesData = data;
		});
	};

	$scope.openModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('show');
	};

	$scope.closeModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('hide');
	};

	$scope.addData = function(){
		$scope.modalTitle = 'Add Data';
		$scope.submit_button = 'Insert';
		$scope.openModal();
	};

	$scope.submitForm = function(){
		$http({
			method:"POST",
			url:"insert.php",
			data:{'id':$scope.id, 'name':$scope.name, 'job':$scope.job, 'email':$scope.email, 'phone':$scope.phone, 'schedule':$scope.schedule,  'action':$scope.submit_button,}
		}).success(function(data){
			if(data.error != '')
			{
				$scope.success = false;
				$scope.error = true;
				$scope.errorMessage = data.error;
			}
			else
			{
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.form_data = {};
				$scope.id = '';
				$scope.name = '';
				$scope.job = '';
				$scope.email = '';
				$scope.phone = '';
				$scope.schedule = '';
				$scope.closeModal();
				$scope.fetchData();
			}
		});
	};
	$scope.fetchSingleData = function(id){
		$http({
			method:"POST",
			url:"insert.php",
			data:{'id':id, 'action':'fetch_single_data'}
		}).success(function(data){
			$scope.id = data.id;
			$scope.name = data.name;
			$scope.job = data.job;
			$scope.email = data.email;
			$scope.phone = data.phone;
			$scope.schedule = data.schedule;
			$scope.modalTitle = 'Edit Data';
			$scope.submit_button = 'Edit';
			$scope.openModal();
		});
	};

	$scope.deleteData = function(id){
		if(confirm("Are you sure you want to remove it?"))
		{
			$http({
				method:"POST",
				url:"insert.php",
				data:{'id':id, 'action':'Delete'}
			}).success(function(data){
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.fetchData();
			});	
		}
	};

});

</script>